.nProbEmpty {
    background: #224 !important;
}
.nProbEmpty a[href] {
    color: #fff !important;
}

.nProbCurrent {
    background: #66f !important;
}
.nProbCurrent a[href] {
    background: #66f !important;
    color: #fff !important;
}


.nProbOk {
    background: #3a3 !important;
}
.nProbOk a[href] {
    color: #fff !important;
}

.nProbBad {
    background: #a33 !important;
}
.nProbBad a[href] {
    color: #fff !important;
}

.nProbTrans {
    background: #883 !important;
}
.nProbTrans a[href] {
    color: #fff !important;
}

.line-numbers {
    color: "#fff" !important;
    background: #000 !important;
}

code[class*="language-"] {
    /* background: #3a3 !important; */
    /* color: "#fff" !important; */
    text-shadow: none !important;
}
